.container {
    max-width: 1144px;
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.transition-bg {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.transition-moveup {
    transition: transform 0.3s ease-in-out;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.underline {
    content: '';
    position: absolute;
    left: 10%;
    bottom: -45%;
    width: 80%;
    height: 0.2rem;
    background-color: $clr-accent;
}


// Media Querie

@media only screen and (max-width:768px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .row {
        flex-direction: column;
    }
}