header {
    width: 100%;
    z-index: 10;
    position: relative;
    background-color: $clr-white;

    .topbar-wrapper {
        border-bottom: 1px solid $clr-light;
    }

    .active {
        color: $clr-body;
        font-weight: 600;

        &>.nav-links:after {
            visibility: visible;
            height: 0.3rem;
        }
    }
}

.sticky {
    top: 0;
    left: 0;
    height: 5.6rem;
    padding: 1.2rem 0 !important;
    box-shadow: 0px 2px 12px 0px rgba(50, 50, 50, 0.2);
}

.topbar {
    @extend .flex-center;

    .support {
        color: $clr-subheading;
        font-size: 1.5rem;
        padding: 0.6rem 0;
    }

    .social-icons {
        display: flex;
        align-items: center;

        svg {
            transform: translateY(-2px);
        }

        a {
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            color: $clr-subheading;
            justify-content: center;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                color: $clr-white;
                background-color: $clr-accent;
            }
        }
    }
}

.navigation-wrapper {
    position: fixed;
    width: 100%;
    padding: 2rem 0 1.5rem;
    background-color: $clr-white;
    transition: box-shadow 0.3s ease-in-out,
        padding 0.3s ease-out, top 0.3s ease-in;

    .nav-brand {
        flex-basis: 20%;
        align-items: center;

        img {
            width: 10rem;
        }
    }

    nav {
        display: flex;
        flex-basis: 80%;
        justify-content: flex-end;
        padding: 1rem 0;
    }

    .nav-header {
        display: flex;
        position: relative;
    }
}

.sidebar {
    position: absolute;
    top: 0;
    right: -40%;
    width: 30vw;
    height: 100vh;
    z-index: 999;
    padding: 4rem 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $clr-white;
    transition: all 0.5s ease-in-out;

    .side-nav {
        margin-top: 4rem;
    }

    .side-items {
        padding: 2rem 0;

        &:hover {

            .side-links {
                color: $clr-accent;
            }
        }
    }

    .side-links {
        font-size: 1.6rem;
        color: $clr-subheading;
        transition: color 0.3s ease-in-out;
    }

    .close {
        position: absolute;
        cursor: pointer;
        top: 4%;
        right: 10%;
        color: $clr-heading;
        font-style: italic;
        font-weight: 400;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $clr-accent;
        }

        svg {
            font-size: 1.8rem;
            margin-left: 0.6rem;
            color: $clr-accent;
            transform: translateY(0.2rem)
        }
    }
}

.hamburger-menu {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    right: 10%;
    margin-left: 2rem;

    &:hover {

        .line,
        .line::after,
        .line::before {
            background-color: $clr-accent;
        }
    }

    .line {
        width: 2.5rem;
        height: 0.3rem;
        background-color: $clr-heading;
        transition: background-color 0.3s ease-in-out;

        &::before,
        &::after {
            content: " ";
            height: inherit;
            position: absolute;
            background-color: $clr-heading;
            transition: background-color 0.3s ease-in-out;
        }

        &::before {
            width: 1.5rem;
            transform: translateY(-0.8rem);
        }

        &::after {
            width: 1.5rem;
            transform: translateY(0.8rem);
        }
    }
}

.vis {
    visibility: visible !important;
}

.nav-utility {
    @extend .flex-center;

    a {
        font-size: 1.5rem;
        padding: 0 1rem;
        color: $clr-heading;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $clr-subheading;
        }
    }

    .search-popup {
        position: absolute;
        right: 10%;
        width: 30rem;
        bottom: -6.4em;
        padding: 1.5rem;
        visibility: hidden;
        background-color: white;
        box-shadow: -2px 0px 8px 0px rgba(50, 50, 50, 0.3);

        input {
            position: relative;
            padding: 0.5rem;
            width: 100%;
            border: none;
            outline: none;

            &:focus-visible {
                border: none;
            }
        }

        .search-icon {
            position: absolute;
            bottom: 26%;
            right: 5%;
        }
    }
}

.navigation {
    display: flex;

    .nav-items {
        position: relative;
        padding: 0.5rem 0;
        transition: height 0.3s ease-in-out;

        &:hover ::after {
            visibility: visible;
        }
    }

    .nav-links {
        font-size: 1.5rem;
        padding: 1.5rem;
        color: $clr-body;
        transition: height 0.3s ease-in-out;

        &::after {
            @extend .underline;
            visibility: hidden;
        }
    }
}

// Banner 

.carousel {
    position: relative;
    margin-top: 2%;
    width: 100%;

    img {
        object-fit: cover;
    }

    .carousel-item {
        width: 100%;
        height: 80vh;
        overflow: hidden;

        &:not(:first-child) {
            display: none;
        }
    }

    .carousel-content {
        position: absolute;
        top: 25%;
        left: 12%;
        animation: slideIn 1.6s;
        transition: opacity 0.3s ease-in-out;

        h1 {
            font-size: 8rem;
            margin-bottom: 2rem;
        }

        h4 {
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }

        span {
            color: $clr-accent;
        }

        .btn-line:first-child {
            margin-right: 2.5rem;
        }

        @keyframes slideIn {

            0% {
                left: 30%;
                opacity: 0;
            }

            100% {
                left: 12%;
                opacity: 1;
            }
        }
    }

    .active {
        border: 2px solid $clr-accent;
    }

    .carousel-dots {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 2%;

        .dot {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $clr-heading;
            border-radius: 1.5rem;
            margin: 0 .6rem;
            cursor: pointer;
            transition: background-color .3s ease-in-out;

            &:hover {
                background-color: $clr-accent;
            }
        }
    }
}


// Media Queries

@media only screen and (max-width: 1024px) {

    .navigation-wrapper {

        .row {
            flex-direction: initial;
        }

        nav {
            display: none;
        }
    }

    .hamburger-menu {
        display: flex;
    }
}

@media only screen and (min-width:576.99px) and (max-width:768px) {

    .sidebar {
        width: 50vw;
        right: -52%;
    }

    .carousel {
        .carousel-content {
            top: 30%;

            h4 {
                font-size: 2.8rem;
                margin-bottom: 0;
            }

            h1 {
                font-size: 5.8rem;
                margin-bottom: 2.5rem;
            }
        }
    }
}

@media only screen and (max-width:576px) {

    .topbar {
        flex-direction: column;
    }

    .sidebar {
        width: 100vw;
        right: -100%;
    }


    .carousel {

        // .carousel-item {
        //     height: 70vh;
        // }

        .carousel-content {
            top: 30%;

            h4 {
                font-size: 1.8rem;
                margin-bottom: 0;
            }

            h1 {
                font-size: 3.8rem;
            }
        }

        .banner-btns {
            display: flex;
            flex-direction: column;
        }
    }
}